:root {
  --gray: #777;
  --azure: #6f92ba;
  --border-color: rgb(54, 54, 54);
  --link-color: var(--azure);
  --fg: var(--gray);
  --active-fg: #000;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  line-height: 1.7;
  color: var(--fg);
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 40px 0;
  border: none;
  border-top: 1px dashed rgba(48, 48, 48, 0.18);
}

.app {
  padding: 100px 0;

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.section {
  padding: 20px 0;
}

.section-title {
  font-size: 1rem;
  color: var(--gray);
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.form {
  & label {
    display: block;
    margin-bottom: 8px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.input, .textarea {
  background: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  width: 240px;
  max-width: 100%;
  border: 1px solid #e2e2e2;
  background: #f9f9f9;
  color: inherit;

  &:focus {
    box-shadow: inset 0 0 2px rgba(67,90,111,.14), inset 0 0 0 1px #579ad9, 0 0 0 3px rgba(16,112,202,.14);
  }
}

.is-block {
  width: 100%;
}

.button {
  border: none;
  border-radius: 3px;
  padding: 8px 18px;
  font-size: .875rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.627);
  transition: background-color .3s ease-in-out;
  border: 1px solid #e2e2e2;

  &:hover {
    background-color: rgba(255, 255, 255, 0.827);
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 2px rgba(67,90,111,.14), inset 0 0 0 1px #579ad9, 0 0 0 3px rgba(16,112,202,.14);
  }
}