:root {
  --gray: #777;
  --azure: #6f92ba;
  --border-color: rgb(214, 214, 214);
  --link-color: var(--azure);
  --fg: var(--gray);
  --secondary-fg: rgb(172, 172, 172);
  --active-fg: #333;
  --active-bg: #f0f0f0;

  --nav-link-color: var(--fg);
  --nav-link-active-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: rgb(224, 224, 224);
    --bg: #272727;
    --secondary-fg: #555;
    --border-color: rgb(87, 87, 87);

    --active-fg: #fff;
    --active-bg: #000;
    --nav-link-color: rgb(219, 219, 219);
    --nav-link-active-color: #fff;
    --link-color: rgb(87, 132, 190);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Microsoft YaHei New', 'Microsoft Yahei',
    '微软雅黑', 宋体, SimSun, STXihei, '华文细黑', sans-serif;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  line-height: 1.7;
  color: var(--fg);
  background-color: var(--bg);
}

.container {
  max-width: 700px;
  min-width: 333px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 40px 0;
  border: none;
  border-top: 1px dashed rgba(48, 48, 48, 0.18);
}

.app {
  padding: 100px 0;

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.section {
  padding: 20px 0;
}

.section-title {
  font-size: 1rem;
  color: var(--gray);
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.form {
  & label {
    display: block;
    margin-bottom: 8px;
  }
}

.form-group {
  margin-bottom: 20px;
}

.input,
.textarea {
  background: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 8px 10px;
  width: 240px;
  max-width: 100%;
  border: 1px solid #e2e2e2;
  background: #f9f9f9;
  color: inherit;

  &:focus {
    box-shadow: inset 0 0 2px rgba(67, 90, 111, 0.14), inset 0 0 0 1px #579ad9,
      0 0 0 3px rgba(16, 112, 202, 0.14);
  }
}

.is-block {
  width: 100%;
}

.button {
  border: none;
  border-radius: 3px;
  padding: 8px 18px;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.627);
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #e2e2e2;

  &:hover {
    background-color: rgba(255, 255, 255, 0.827);
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 2px rgba(67, 90, 111, 0.14), inset 0 0 0 1px #579ad9,
      0 0 0 3px rgba(16, 112, 202, 0.14);
  }
}

.saber-highlight {
  background-color: #22313e;
}

.saber-highlight-code {
  overflow: auto;
}

:not(pre) > code {
  background-color: #22313e;
  font-size: 13px;
  padding: 3px 4px;
  border-radius: 4px;
}
