.page-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--active-fg);
}

.page-content > *:last-child {
  margin-bottom: 0;
}

.page-content > *:first-child {
  margin-top: 0;
}

.page-content > * {
  margin: 20px 0;
}

.page-content h2 {
  font-size: 2rem;
}

.page-content ul {
  list-style: disc;
  list-style-position: inside;
}