.page-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.page-content > *:last-child {
  margin-bottom: 0;
}

.page-content > *:first-child {
  margin-top: 0;
}

.page-content p {
  margin: 20px 0;
}