.page-title {
  @apply mb-2;
  @apply font-bold;
  @apply text-2xl md:text-4xl;
}

.page-title span {
  @apply bg-brand;
  @apply text-white;
  @apply px-2;
  @apply py-1;
  @apply leading-relaxed;
}

.prose > *:last-child {
  margin-bottom: 0;
}

.prose > *:first-child {
  margin-top: 0;
}

.prose {
  @apply leading-relaxed;
  @apply text-lg;
}

.prose h2 {
  @apply my-8 text-2xl;
  @apply font-semibold;
}

.prose h3 {
  @apply my-7 text-xl;
}

.prose p {
  @apply my-4;
}

.prose ul {
  @apply my-5 list-disc pl-5;
}

.prose li > ul {
  @apply my-1;
  list-style-type: square;
}

.prose ol {
  @apply my-5 list-decimal pl-5;
}

.prose a {
  @apply underline decoration-pink-500 decoration-2 hover:no-underline;
}

.prose pre {
  @apply bg-zinc-100 dark:bg-zinc-900;
  @apply rounded-lg;
  @apply p-5;
  @apply text-base;
  @apply overflow-auto;
  @apply my-5;
}

:not(pre) > code {
  @apply p-1;
  @apply rounded-md;
  @apply bg-zinc-100 dark:bg-zinc-900;
  @apply text-sm;
}

.prose figcaption {
  @apply italic text-center text-xs -mt-2 text-gray-400;
}

.prose blockquote {
  @apply border-l-4 px-4 text-zinc-500 dark:border-yellow-300 dark:text-zinc-300;
}

.prose hr {
  @apply my-8;
  @apply block;
  @apply border-dotted dark:border-zinc-800;
}
