body {
  font: 16px/1.6 monospace, serif;
  margin: 0;
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  max-width: 500px;
  padding: 40px 60px;
}

.intro {
  margin-bottom: 40px;
}

.site-name {
  font-weight: 700;
  font-size: 1.2rem;
}

.title {
  margin: 30px 0 20px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.footer {
  color: #999;
  border-top: 1px solid #e2e2e2;
  margin-top: 60px;
  padding-top: 10px;
  font-size: .875rem;
}

.contact-method svg {
  width: 14px;
  vertical-align: middle;
}

.qrcode-wrapper {
  position: relative;
}

.qrcode {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #333;
  padding: 10px;
  background: white;
  font-size: 0;
}

.qrcode img {
  width: 100px;
}

.show-code .qrcode {
  display: block;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 20px;
  }
}