---
import { cn } from "~/lib/utils"

const nav = [
  {
    label: "home",
    href: "/",
  },
  {
    label: "about",
    href: "/about",
  },
  {
    label: "donate",
    href: "/donate",
  },
  {
    label: "RSS Feed",
    href: "/rss.xml",
    icon: "i-heroicons-rss-20-solid",
    showLabelOnHover: true,
    class: "text-orange-500 font-medium",
  },
]
---

<div
  class="font-medium md:font-semibold text-sm md:text-base -ml-3 mt-5 md:mt-6 flex md:gap-0.5 md:flex-col"
>
  {
    nav.map((item) => {
      return (
        <a
          href={item.href}
          class={cn(
            "group rounded-full flex px-3 md:px-5 gap-1 md:gap-2 h-8 md:h-12 items-center group-hover:text-zinc-900 capitalize leading-none",
            Astro.url.pathname === item.href ||
              Astro.url.pathname === `${item.href}/`
              ? "md:bg-stone-200/60"
              : "hover:bg-stone-200/40 text-stone-700",
            item.class
          )}
        >
          {item.icon && <span class={item.icon} />}
          <span
            class={
              item.showLabelOnHover
                ? "opacity-0 group-hover:opacity-100 transition"
                : ""
            }
          >
            {item.label}
          </span>
        </a>
      )
    })
  }
</div>
