:root {
  --fg: #ccc;
  --bg: #000;
  --secondary-fg: #555;
  --border-color: rgb(34, 34, 34);
  --code-bg: rgb(15, 15, 15);

  --active-fg: #fff;
  --active-bg: #000;
  --link-color: rgb(110, 169, 245);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Microsoft YaHei New', 'Microsoft Yahei',
    '微软雅黑', 宋体, SimSun, STXihei, '华文细黑', sans-serif;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  line-height: 1.7;
  color: var(--fg);
  background-color: var(--bg);
}

.container {
  max-width: 780px;
  margin: 0 auto;
  @apply px-5;
}

hr {
  margin: 40px 0;
  border: none;
  border-top: 1px dashed rgba(48, 48, 48, 0.18);
}

.hidden {
  display: none;
}
