:root {
  --code-bg: theme('colors.zinc.100');
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  line-height: 1.7;
}

.container {
  max-width: 780px;
  margin: 0 auto;
  @apply px-5;
}

hr {
  margin: 40px 0;
  border: none;
  border-top: 1px dashed rgba(48, 48, 48, 0.18);
}
