.prose > *:last-child {
  margin-bottom: 0;
}

.prose > *:first-child {
  margin-top: 0;
}

.prose {
  @apply text-lg leading-relaxed;
}

.prose h2 {
  @apply mt-5 py-3 text-3xl;
  @apply font-semibold;
}

.prose h3 {
  @apply my-7 text-2xl font-medium;
}

.prose p {
  @apply my-4;
}

.prose ul {
  @apply my-5 list-disc pl-5;
}

.prose li > ul {
  @apply my-1;
  list-style-type: square;
}

.prose ol {
  @apply my-5 list-decimal pl-5;
}

.prose img {
  @apply rounded-xl;
}

.prose a {
  @apply underline decoration-zinc-500;
}

.prose pre {
  @apply border border-zinc-200 rounded-xl p-5 overflow-x-auto;
}

.prose pre .table {
  @apply inline;
}

:not(pre) > code {
  background: var(--inline-code-bg);
  @apply p-1;
  @apply rounded-md;
  @apply text-sm;
}

.prose figcaption {
  @apply italic text-center text-xs -mt-2 text-gray-400;
}

.prose blockquote {
  @apply border-l-4 px-4 text-zinc-500;
}

.prose hr {
  @apply my-8;
  @apply block;
  @apply border-dotted;
}

.table-wrapper {
  @apply rounded-xl border w-full my-5 overflow-auto;
}

.table-wrapper table {
  @apply w-full;
}

.table-wrapper th,
.table-wrapper td {
  @apply py-2 px-3;
}

.table-wrapper tbody tr:nth-child(odd) {
  @apply bg-zinc-50;
}
