.page-title {
  @apply mb-2;
  @apply font-bold;
  @apply text-2xl md:text-4xl;
}

.page-title span {
  @apply bg-pink-500;
  @apply text-white;
  @apply px-2;
  @apply py-1;
  @apply leading-relaxed;
}

.saber-markdown > *:last-child {
  margin-bottom: 0;
}

.saber-markdown > *:first-child {
  margin-top: 0;
}

.saber-markdown {
  @apply leading-relaxed;
}

.saber-markdown h2 {
  @apply my-8 text-2xl;
  @apply font-semibold;
}

.saber-markdown h3 {
  @apply my-7 text-xl;
}

.saber-markdown p {
  @apply my-4;
}

.saber-markdown ul {
  @apply my-5 list-disc pl-5;
}

.saber-markdown ol {
  @apply my-5 list-decimal pl-5;
}

.saber-markdown a {
  @apply underline decoration-pink-500 decoration-2 hover:no-underline;
}

.saber-code {
  background-color: var(--code-bg) !important;
  @apply rounded-lg;
  @apply my-5;
}

.saber-code:before {
  @apply text-zinc-300;
}

.saber-code .line-numbers {
  background-color: transparent !important;
}

:not(pre) > code {
  background-color: var(--code-bg);
  font-size: 0.875em;
  padding: 4px 5px;
  border-radius: 4px;
}

.saber-markdown figcaption {
  @apply italic text-center text-xs -mt-2 text-gray-400;
}
