.page-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--active-fg);
  @apply leading-tight;
  @apply mb-2;
}

.saber-markdown > *:last-child {
  margin-bottom: 0;
}

.saber-markdown > *:first-child {
  margin-top: 0;
}

.saber-markdown {
  @apply leading-relaxed;
}

.saber-markdown h2 {
  @apply my-8 text-2xl text-gray-100;
}

.saber-markdown h3 {
  @apply my-7 text-xl text-gray-100;
}

.saber-markdown p {
  @apply my-4;
}

.saber-markdown ul {
  @apply my-5 list-disc pl-5;
}

.saber-markdown ol {
  @apply my-5 list-decimal pl-5;
}

.saber-markdown a {
  @apply text-link hover:underline;
}

.saber-code {
  margin: 0 0;
  background-color: var(--code-bg) !important;
  @apply rounded-lg;
}

.saber-code:before {
  @apply text-gray-600;
}

.saber-code .line-numbers {
  background-color: transparent !important;
}

:not(pre) > code {
  background-color: var(--code-bg);
  font-size: 0.875em;
  padding: 4px 5px;
  border-radius: 4px;
}

.saber-markdown figcaption {
  @apply italic text-center text-xs -mt-2 text-gray-400;
}
