<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--saber-head-->
  </head>
  <body>
    <!--saber-main-->
    <!--saber-scripts-->
    <% if (env.PROD) { %>
    <script
      async
      defer
      data-website-id="41199b15-9e7e-4354-8e74-95d4c48e178e"
      src="https://umami.egoist.sh/umami.js"
    ></script>
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "9m4enwe7ar");
    </script>
    <% } %>
  </body>
</html>
